<header>
  <div class="icon hamburger-icon" sidebarjs-toggle></div>
  <h1>Angular SidebarJS</h1>
  <div class="icon hamburger-icon" sidebarjs-toggle="mySecondSidebarJS"></div>
</header>

<sidebarjs
  on-close="app.onSidebarClose()"
  on-open="app.onSidebarOpen()"
  on-change-visibility="app.onSidebarChangeVisibility($event)">
  <h3>Angular SidebarJS</h3>
  <nav>
    <div>
      <a sidebarjs-toggle href="https://github.com/SidebarJS/angular-sidebarjs" target="_blank"><div class="img github"></div>Github</a>
      <a sidebarjs-toggle href="https://www.npmjs.com/package/angular-sidebarjs" target="_blank"><div class="img npm"></div>npm</a>
      <a sidebarjs-toggle href="https://github.com/lorenzodianni" target="_blank"><div class="img author"></div>Author</a>
    </div>
    <div>
      <a sidebarjs-toggle href="https://github.com/SidebarJS/angular-sidebarjs/blob/master/README.md" target="_blank"><div class="img wiki"></div>Wiki</a>
      <a sidebarjs-toggle href="https://github.com/SidebarJS/angular-sidebarjs/issues" target="_blank"><div class="img bugs"></div>Bugs</a>
    </div>
  </nav>
</sidebarjs>

<sidebarjs
  sidebarjs-name="mySecondSidebarJS"
  sidebarjs-config="{position: 'right'}"
  on-close="app.onSidebarClose()"
  on-open="app.onSidebarOpen()"
  on-change-visibility="app.onSidebarChangeVisibility($event)">
  <h3>My Second SidebarJS</h3>
  <nav>
    <div>
      <a sidebarjs-toggle href="https://github.com/SidebarJS/angular-sidebarjs" target="_blank"><div class="img github"></div>Github</a>
      <a sidebarjs-toggle href="https://www.npmjs.com/package/angular-sidebarjs" target="_blank"><div class="img npm"></div>npm</a>
      <a sidebarjs-toggle href="https://github.com/lorenzodianni" target="_blank"><div class="img author"></div>Author</a>
    </div>
    <div>
      <a sidebarjs-toggle href="https://github.com/SidebarJS/angular-sidebarjs/blob/master/README.md" target="_blank"><div class="img wiki"></div>Wiki</a>
      <a sidebarjs-toggle href="https://github.com/SidebarJS/angular-sidebarjs/issues" target="_blank"><div class="img bugs"></div>Bugs</a>
    </div>
  </nav>
</sidebarjs>

<main>
  <section>
    <h2>IsVisible</h2>
    <p>Left is open: {{app.isVisibleSidebarJS()}}</p>
    <p>Right is open: {{app.isVisibleSidebarJS("mySecondSidebarJS")}}</p>
  </section>

  <div class="app__js-toggle-buttons">
    <div class="app__js-toggle-button" ng-click="app.toggleSidebarJS()">Toggle left via js</div>
    <div class="app__js-toggle-button" ng-click="app.toggleSidebarJS('mySecondSidebarJS')">Toggle right via js</div>
  </div>
</main>
